<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>

    <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

    Name: <%= @Company.name %>

    <% if @company_id  %>
        <div><%= f.label :company_id %><br />
          <%= f.hidden_field :company_id, :value => @company_id %></div>
<% end %>


  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
