<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @company.latitude %>
</p>

<p>
  <b>Longtitude:</b>
  <%= @company.longtitude %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Note:</b>
  <%= @company.note %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @company.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.company_id %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New User', {:controller => 'registrations', :action => 'new', :company_id => @company.id} %>

